# Node modules
node_modules/

# Environment variables


# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage directory from test tools like istanbul/nyc
coverage/
*.lcov

# Build output
dist/
build/
.out/

# PM2 or ecosystem config logs
pids/
*.pid
*.seed

# Swagger files (if generated dynamically)
swagger.json

# Database dumps
*.sqlite
*.db
*.tgz
dump/

# Others
*.local
